.video-container {
    position: relative;
    width: 100%;
    height: 100dvh; /* Videon fyller hela skärmen     */
    overflow: hidden;
}

.video-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.video-background video {
    width: 100vw;
    height: 100vw;
    object-fit: cover;
    object-position: center center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    pointer-events: none;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center; /* Ser till att ikonen och texten centreras horisontellt */
    justify-content: center;
}

.icon {
    font-size: 4rem; /* Justera storlek */
    margin-bottom: 10px;
    color: white;
    display: block; /* Gör den till ett block för bättre centrerad position */
}

@media (max-width: 768px) {
    .section {
      padding: 40px 20px;
      text-align: center;
    }
  
    .navbar {
      flex-direction: column;
    }
    .video-background video {
        width: 180vw; /* gör videon bredare än skärmen */
        height: 150vh;
        object-fit: cover;
        object-position: center center;
      }
  }
  