.info-section {
    padding-left: 100px; /* Flytta hela sektionen åt vänster */
    margin-top: 50px;
  }
  
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .subheadings {
    display: flex;
    width: 100%;
    max-width: 1000px; /* eller vad som passar */
    justify-content: space-between;
    margin-top: 20px; 
    align-items: flex-start;
  }
  
  .left, .right {
    flex: 1;
   
  }
  
  .left {
    text-align: justify;
    padding-right: 100px; /* lite luft inåt */
  }
  
  .right {
    text-align: justify;
    padding-left: 100px;
  }
  
  .subheading {
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    margin-top: 0; /* Gör så att oavsett textlängd så är rubrikerna på samma höjdnivå*/
  }
  
  