.pet-description {
  max-width: 1000px;
  text-align: justify;

}

.karusell {
  max-width: 1000px;
  margin-top: 10px;
  text-align: center;
  background-color: aliceblue;
  border-radius: 16px;
  padding: 15px;
  padding-bottom: 40px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);


}
.titel-text {
  text-align: center;


}

.content-text {
  max-width: 900px;
  text-align: justify;

  margin: 0 auto;

}

.button-row{
  margin-top: 20px;

}

