/* För att .image-row ska vara centrerad och ta upp hela bredden */
.image-row {
  display: flex;
  justify-content: center; /* Centrerar bilderna horisontellt */
  gap: 50px; /* Lägger till mellanrum mellan bilderna */
  flex-wrap: wrap; /* Gör att bilderna bryts till nästa rad vid behov */ 
  width: 100vw; /* Gör att .image-row tar upp hela bredden på sidan */
  margin: 0 auto; /* Se till att den centreras i förhållande till föräldern */
  padding: 40px 0; /* Lägg till lite utrymme ovanför/below */
  box-sizing: border-box; /* Gör så att padding inte påverkar storleken */
  margin-top: 30px; /* Lägger till lite utrymme från toppen */
}

/* Sätter storlek och objekt-hantering för bilderna */
.small-image {
  height: 300px; /* Sätt en konsekvent höjd för bilderna */
  object-fit: cover; /* Bevarar bildens aspektförhållande */
  object-position: 50% 50%; /* Justera bildens position för bästa visning */
  border-radius: 10px; /* Lägg till rundade hörn på bilderna */
}

/* För att hålla bilderna responsiva på små skärmar */
@media (max-width: 768px) {
  .small-image {
    height: auto; /* Gör så att bilderna skalas proportionellt */
    max-width: 100%; /* Gör så att bilderna inte blir större än föräldern */
  }
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 100px;
  gap: 400px;
  flex-wrap: wrap;
  
}

.about-text {
  flex: 1;
  min-width: 250px;
  text-align: justify;
}

.about-image {
  flex: 1;
  max-width:250px;
  display: flex;
  justify-content: flex-end;
}

.about-image img {
  width: 100%;
  max-width: 400px; 
  /*gör runda kanterna  på bilderna*/
  border-radius: 90px; 
  object-fit: cover;
}



.small-image {
  height: 300px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .small-image {
    height: flex;
    max-width: 100%;
  }
  /* Bildraden nedan */
  .image-row {
    display: none;
  }
}
