.reference-list {
    margin-top: 1rem;
    padding-left: 1.5rem;
    font-size: 1rem;
    line-height: 1.6;
  }
  
  .reference-list li {
    margin-bottom: 0.5rem;
  }
  .thank-you-text {
    font-size: 1.2rem; 
    font-style: italic; 
    color: #555; 
    margin-top: 20px;  
    text-align: center; 
  }
  