html {
    scroll-behavior: smooth;
  }
  body {  
    font-family: 'Mulish', sans-serif;
    color: black;
  }
  
  
  .content {
    position: relative;
    z-index: 1; /* Ensure content stays on top of the video */
  }



.section {
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  text-align: left;
  padding: 105px;
  position: relative;
  color: black;
}
.divider {
  height: 2px;
  width: 100%;
  margin: 60px auto;
  background-color: #ccc;
  border: none;
}

#about-us {
  min-height: 100vh;
} 
#bilder {
  background-color: ccc ;
}
#contact {
  position: relative;
  background-color: #d3dde8;
  overflow: hidden;
  border-radius: 80px 80px;
}

@media (max-width: 768px) {
  .section {
    padding: 40px 20px;
    text-align: center;
  }

  .navbar {
    flex-direction: column;
  }
}





