html {
    scroll-behavior: smooth;
  }
  body {  
    font-family: 'Mulish', sans-serif;
    color: black;
  }
  
  
  .content {
    position: relative;
    z-index: 1; /* Ensure content stays on top of the video */
  }


.section {
  height: 110vh;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  text-align: left;
  padding: 105px;
  position: relative;
  color: black;
}
.divider {
  height: 2px;
  width: 100%;
  margin: 60px auto;
  background-color: #ccc;
  border: none;
}

#about-us {
  min-height: 100vh;
} 
#bilder {
  background-color: ccc ;
}
#contact {
  position: relative;
  background-color: #d3dde8;
  overflow: hidden;
  border-radius: 80px 80px;
}
@media (max-width: 768px) {
  #contact {
    padding: 40px 40px;

    margin: 0 100px; /* ger luft från kanterna */
    box-sizing: border-box;
  }

  body {
    padding: 0;
    margin: 0;
  }

  .section {
    padding: 40px 20px; /* Mindre padding = mer luft */
    height: auto; /* Undvik 110vh på mobil */
    text-align: center;
    align-items: center;
  }

  h1, h2, h3, p {
    font-size: 1rem;
    line-height: 1.4;
  }


}

/* .navbar {
  flex-direction: column;
} */





