html {
    scroll-behavior: smooth;
  }
  body {  
    font-family: 'Montserrat', sans-serif;
    color: black;
  }
  
  
  .content {
    position: relative;
    z-index: 1; /* Ensure content stays on top of the video */
  }



.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  text-align: left;
  padding: 105px;
  position: relative;
  color: black;
}
